{
  parser: 'babel-eslint',
  extends: 'airbnb',
  plugins: [
      'babel',
      'react'
  ],

  env: {
    browser: true,
    jasmine: true
  },

  rules: {
    'comma-dangle': 0,
    'no-param-reassign': 0,
    'react/forbid-prop-types': 'off',
    'react/jsx-filename-extension': 'off',
    'react/require-default-props': 'off'
  }
}
