$link-color: black;
$error-color: #d0021b;

body {
  background-color: #1e1e2f;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  margin: 0;
  color: #b1b1b5;
}

.error-message {
  align-items: center;
  background-color: #FEFEFE;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;

  .error-message-details {
    background: $error-color;
    align-items: center;
    border-radius: 5px;
    color: #FFFFFF;
    display: flex;
    padding: 0.5rem 1rem;
  }

  .warning-symbol {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }
}

.center-container {
  width: 800px;
  margin: auto;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 30px 0;

    li {
      margin-bottom: 10px;
    }
  }

  h4 {
    margin-bottom: 0px;
  }

  .date {
    width: 120px;
    display: inline-block;
  }

  a {
    color: #3b79bb;
  }
}

#bugs {
  svg {
    background-image: url("/images/bug.svg");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
